<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2025 The 2by2 Project
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:allowBackup="false"
    package="jp.project2by2.UpdaterOverlay">
    <overlay android:isStatic="true" android:priority="8500" android:targetPackage="eu.chainfire.opendelta"/>

    <application android:hasCode="false"/>
</manifest>
